@font-face {
  font-family: ipix;
  src: url('@/assets/fonts/ipix_12px.ttf');
}

html {
  background: #FDFDF5;
  color: #3E371D;
  font-family: "ipix";
  ////block-size: 100%;
  ////inline-size: 100%;
  //box-sizing: border-box;
  //display: grid;
  //place-content: center
}


body {
  min-block-size: 100%;
  min-inline-size: 100%;
  //margin: 0;
  //
  //
  //
}
